<!DOCTYPE html>
<html>

<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>


<script src="bundle.js"></script>
<link rel="stylesheet" type="text/css" href="musicxmlviewer/musicxmlviewer.css"/>


<body ng-app="transcriptapp" style="padding-top: 30px">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar ng-controller="NavBarController as navctrl">
         <div class="logo"></div>
        <div class="container" bs-collapse start-collapsed="true">
            <div class="navbar-header"  style="font-size: 30em">
                <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" bs-collapse-toggle>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="idnavbar" href="#"> MusicXML ACO Transcription</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse" bs-collapse-target>
                <ul class="nav navbar-nav">
                    <li data-match-route="/$"><a href="#/">Home</a></li>
                    <li data-match-route="/page-one"><a href="#/page-one">Docs</a></li>
                    <li data-match-route="/page-two.*"><a href="#/page-two/sub-a">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            <h1>Transcript MusicXML</h1>
        </div>

        <div ng-controller="MusicXmlViewerController as mxmlvctrl">
            <div class="container-fluid">
                <form class="form">
                    <div class="input-group col-xs-5" style="float: left">
                        <span class="input-group-btn">
    <!-- You can also use data-attrs to assign scope variables -->
                    <!--<file-field class="btn btn-primary glyphicon glyphicon-music" preview="preview" ng-model="mxmlvctrl.xmlfile" ng-class="{'btn-success':mxmlvctrl.xmlfile}"> Select File</file-field>-->
                    <file-field class="btn btn-primary " preview="preview" ng-model="mxmlvctrl.xmlfile" ng-class="{'btn-success':mxmlvctrl.xmlfile}"> Select File</file-field>
                    </span>
                        <input type="text" class="form-control" placeholder="MusicXML file..." readonly value="{{mxmlvctrl.xmlfile.name}}">


                    </div>
                    <button class="btn btn-primary glyphicon glyphicon-transfer" style="float: right"
                     data-ng-click="mxmlvctrl.doTranscribe()" data-placement="top-right" data-content="{{mxmlvctrl.alertinfo.content}}" 
                     data-title="{{mxmlvctrl.alertinfo.title}}" data-type="info" data-container="body" data-duration="2" ng-disabled="mxmlvctrl.displayingtab" bs-alert> Trancrever a partitura</button>

                     <div style="margin-right: 50px; margin-left: 50px; float: left" ng-controller="InstrumentChoiceController as instrumentctrl">
                     <button type="button" class="btn btn-default" ng-change="mxmlvctrl.populateTunings()" ng-model="mxmlvctrl.selectedInstrument" data-html="1" bs-options="icon.value as icon.label for icon in mxmlvctrl.instruments" bs-select></button>
                     <button type="button" class="btn btn-default" ng-model="mxmlvctrl.selectedTuning" data-html="1" bs-options="icon.value as icon.label for icon in mxmlvctrl.tunings" bs-select></button>
                     </div>

                </form>

                <br>
                <!--<div class="score-div" style="position: relative; float: right; width: 700px; height: 700px; border: 1px solid black" musicxml_ref="Lovers Of Light.xml"></div>-->
                <!--<div class="score-div" style="position: relative; float: right; width: 700px; height: 700px; border: 1px solid black" musicxml_ref="Ailiu Eanai.xml"></div>-->
                <!--<button class="btn" music-xml-viewer-directive>aperteeeeeeee</button>-->
                <div id="musicxml-render" style="position: relative; width: 700px; height: 700px; margin-left: auto ; margin-right: auto"></div>
                <br>
                <a download="{{mxmlvctrl.filename}}" href="{{mxmlvctrl.fileurl}}" ng-disabled="!mxmlvctrl.tabfordownload" class="btn btn-default btn-download glyphicon glyphicon-save"> Download MusicXML</a>

            </div>

        </div>
    </div>


<!--
    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">Teste de footer. O que colocar aqui? credits?</p>
        </div>
    </footer>-->
</body>

</html>