html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}
.logo{
  background-image:url("./logo.png");
  background-color: #000;
  height: 50px;
  width: 137px;
  position: absolute;
  background-size: cover;
}

#idnavbar{
  margin-left: 33px;
}

.btn-default{
  background-color: #FFC316;
}

.btn-primary{
  background-color: #000;
}

.btn-success{
  background-color: #555;
}

.btn-primary:hover, .btn-primary:focus{
  background-color: #555;
}

.btn-primary[disabled]:hover {
  background-color: #555;
}

.btn-default.btn-download:hover{
  background-color: #555;
}

.btn-primary[disabled]{
  background-color: #000000;
}

.btn-default.btn-download{
  background-color: #FFC316;
}