.alert {
	display: block;
	right: 0;
	top:50px;
	position: fixed;
	z-index: 1050;
	margin: 20px;
	padding: 15px;
	border: 1px solid;
	border-radius: 4px;
	outline: 0;
	animation-timing-function: linear;
	animation-fill-mode: backwards;
	opacity: 1;
	box-sizing: border-box;
}

.alert-info{
	background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-success{
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-error{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}